<%- include("header.ejs") %>

                  <div id="row" class="row">
                     <div class="col-md-12">
                        <div class="main-title">
                           <div class="btn-group float-right right-action">
                              <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Sort by <i class="fa fa-caret-down" aria-hidden="true"></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                 <a class="dropdown-item" id="toprated" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Most sub</a>
                                 <a class="dropdown-item" id="topviewed" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp;Most  Viewed</a>
                                 <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times-circle"></i> &nbsp; Close</a>
                              </div>
                           </div>
                           <h6>Channels</h6>
                        </div>
                     </div>   
                  </div>
                
               </div>
               <hr>
               
                     
                  <script type="module" defer>
                     var fonc="<%- state %>";
                     var clientid="<%-idc %>";
                     var search="<%- search %>";

                     function toprated(x,objs){
                                objs.sort( (a,b)=>{return a[x]-b[x]});
                                var row=document.getElementById("row");
                                var e1=row.firstElementChild;
                                var child=row.lastElementChild;
                                while (child) {
                                 row.removeChild(child);
                                 child = row.lastElementChild;
                                    }
                                    row.append(e1);

                                for(var i=objs.length-1;i>=0;i--){
                                 var o=objs[i]["sub"];
                                 var type="";
                                 if(o>=1000000){o=o /1000000;type="M"}else{
                                 if(o>=1000){o=o /1000;type="K"}}
                                 var divcol=document.createElement("div");
                                divcol.setAttribute("class","col-xl-3 col-sm-6 mb-3");
                                var divcard=document.createElement("div");
                                divcard.setAttribute("class","channels-card");
                                var divcardimage=document.createElement("div");
                                divcardimage.setAttribute("class","channels-card-image");
                                var a=document.createElement("a");
                  
                                a.setAttribute("href","https://localhost:8001/video-page-recieve?id="+objs[i]["userid"]+"&name="+objs[i]["channel-name"]);
                                var img=document.createElement("img");
                                img.setAttribute("class","img-fluid");
                                img.setAttribute("src",objs[i]["imageurl"]);
                                a.append(img);
                                divcardimage.append(a);
                                var s=document.createElement("div");
                                s.setAttribute("class","channels-card-image-btn");
                                var type=""
                                var sub=objs[i]["sub"]
                                if(sub>=1000000){sub=sub /1000000;type=" M"}else{
                                 if(sub>=1000){sub=sub /1000;type=" K"}
                                }
                              s.innerHTML='<button type="button" class="btn btn-outline-danger btn-sm">Subscribe <strong>'+sub+type+'</strong></button>';
                              divcardimage.append(s);
                              divcard.append(divcardimage);
                              divcol.append(divcard);
            
                              var divbody=document.createElement("div");
                              divbody.setAttribute("class","channels-card-body");
                              var divtitle=document.createElement("div");
                              divtitle.setAttribute("class","channels-title");
                              divtitle.innerHTML="<a href='#'>"+objs[i]["channel-name"]+"<span title='' data-placement='top' data-toggle='tooltip' data-original-title='Verified'><i class='fas fa-check-circle'></i></span></a>";
            
                              divbody.append(divtitle);
            
                              var divsc=document.createElement("div");
                              divsc.setAttribute("class","channels-view");
                              divsc.innerHTML=objs[i]["sub"]+' subscribers';
                              divbody.append(divsc);
                              divcard.append(divbody);
                              
                           
                              row.append(divcol);

                                }
                     
                  
               

             }
          
            
                
          
                     // Import the functions you need from the SDKs you need
                     import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.1/firebase-app.js";
                     import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.8.1/firebase-analytics.js";
                     // TODO: Add SDKs for Firebase products that you want to use
                     // https://firebase.google.com/docs/web/setup#available-libraries
                   
                     // Your web app's Firebase configuration
                     // For Firebase JS SDK v7.20.0 and later, measurementId is optional
                     const firebaseConfig = {
                       apiKey: "AIzaSyB92ojoKUrMWJZO2xvi9GmN3lPKtuoLANM",
                       authDomain: "ezlive-3de45.firebaseapp.com",
                       databaseURL: "https://ezlive-3de45-default-rtdb.firebaseio.com",
                       projectId: "ezlive-3de45",
                       storageBucket: "ezlive-3de45.appspot.com",
                       messagingSenderId: "307117333023",
                       appId: "1:307117333023:web:0926177e6fe7e03f8bd32a",
                       measurementId: "G-L3YF1HP60C"
                     };
                   
                     // Initialize Firebase
                     const app = initializeApp(firebaseConfig);
                     const analytics = getAnalytics(app);
                     import{getDatabase,ref,get,set,child,update,remove,push} from "https://www.gstatic.com/firebasejs/9.8.1/firebase-database.js";
                     const db=getDatabase();
                     var objs=[];
                     function getChannel(){
                     const dbref=ref(db);
                      get(child(dbref, "channels")). then((snapshot)=>{
                         if(snapshot!=null){
                            var channel=snapshot.val();
                            var div1=document.getElementById("row");
                         
                           for(var j=0;j<Object.values(channel).length;j++){
                              if(Object.values(channel)[j]["userid"]==clientid && fonc=="s"){
                                 objs.push(Object.values(channel)[j]);
                            
                              var divcol=document.createElement("div");
                              divcol.setAttribute("class","col-xl-3 col-sm-6 mb-3");
                              var divcard=document.createElement("div");
                              divcard.setAttribute("class","channels-card");
                              var divcardimage=document.createElement("div");
                              divcardimage.setAttribute("class","channels-card-image");
                              var a=document.createElement("a");
                             
                              if(fonc=="s"){
                                 a.setAttribute("href","https://localhost:8001/video-page-send?id="+Object.values(channel)[j]["userid"]+"&name="+Object.values(channel)[j]["channel-name"]);

                              }else{
                                 a.setAttribute("href","https://localhost:8001/video-page-recieve?id="+Object.values(channel)[j]["userid"]+"&name="+Object.values(channel)[j]["channel-name"]);
                              }
                          
                              var img=document.createElement("img");
                              img.setAttribute("class","img-fluid");
                              img.setAttribute("src",Object.values(channel)[j]["imageurl"]);
                              a.append(img);
                              divcardimage.append(a);
                              var s=document.createElement("div");
                              s.setAttribute("class","channels-card-image-btn");
                              var type=""
                              var sub=Object.values(channel)[j]["sub"]
                              if(sub>=1000000){sub=sub /1000000;type=" M"}else{
                                 if(sub>=1000){sub=sub /1000;type=" K"}
                              }
                              s.innerHTML='<button type="button" class="btn btn-outline-danger btn-sm">Subscribe <strong>'+sub+type+'</strong></button>';
                              divcardimage.append(s);
                              divcard.append(divcardimage);
                              divcol.append(divcard);
            
                              var divbody=document.createElement("div");
                              divbody.setAttribute("class","channels-card-body");
                              var divtitle=document.createElement("div");
                              divtitle.setAttribute("class","channels-title");
                              divtitle.innerHTML="<a href='#'>"+Object.values(channel)[j]["channel-name"]+"<span title='' data-placement='top' data-toggle='tooltip' data-original-title='Verified'><i class='fas fa-check-circle'></i></span></a>";
            
                              divbody.append(divtitle);
            
                              var divsc=document.createElement("div");
                              divsc.setAttribute("class","channels-view");
                              divsc.innerHTML=Object.values(channel)[j]["sub"]+' subscribers';
                              divbody.append(divsc);
                              divcard.append(divbody);
                              
                           
                              div1.append(divcol);
                              
            
                              }else{
                                 if(fonc=="search"){
                                    var sa=search.split("+");
                                    var tags=Object.values(channel)[j]["tags"].split(",");
                                    var cat=Object.values(channel)[j]["categories"];
                                    const lower = sa.map(element => {
                                          return element.toLowerCase().trim();
                                         });
                                         const lowerc = cat.map(element => {
                                          return element.toLowerCase().trim();
                                         });
                                         const lowert = tags.map(element => {
                                          return element.toLowerCase().trim();
                                         });
                                   function t(a,b){
                                    var c=false;
                                    a.forEach(element => {
                                       
                                       if(b.includes(element.toLowerCase().trim())){
                                          c=true;
                                         
                                       }
                                    });
                                    return c;
                                   }

                                    if(lower.includes(Object.values(channel)[j]["channel-name"].toLowerCase().trim()) || lower.includes(Object.values(channel)[j]["cast"].toLowerCase().trim()) ||  lower.includes(Object.values(channel)[j]["language"].toLowerCase().trim())  || t(lower,lowert) || t(lower,lowerc)){
                                       objs.push(Object.values(channel)[j]);
                              var divcol=document.createElement("div");
                              divcol.setAttribute("class","col-xl-3 col-sm-6 mb-3");
                              var divcard=document.createElement("div");
                              divcard.setAttribute("class","channels-card");
                              var divcardimage=document.createElement("div");
                              divcardimage.setAttribute("class","channels-card-image");
                              var a=document.createElement("a");
                             
                              if(fonc=="s"){
                                 a.setAttribute("href","https://localhost:8001/video-page-send?id="+Object.values(channel)[j]["userid"]+"&name="+Object.values(channel)[j]["channel-name"]);

                              }else{
                                 a.setAttribute("href","https://localhost:8001/video-page-recieve?id="+Object.values(channel)[j]["userid"]+"&name="+Object.values(channel)[j]["channel-name"]);
                              }
                          
                              var img=document.createElement("img");
                              img.setAttribute("class","img-fluid");
                              img.setAttribute("src",Object.values(channel)[j]["imageurl"]);
                              a.append(img);
                              divcardimage.append(a);
                              var s=document.createElement("div");
                              s.setAttribute("class","channels-card-image-btn");
                              var type=""
                              var sub=Object.values(channel)[j]["sub"]
                              if(sub>=1000000){sub=sub /1000000;type=" M"}else{
                                 if(sub>=1000){sub=sub /1000;type=" K"}
                              }
                              s.innerHTML='<button type="button" class="btn btn-outline-danger btn-sm">Subscribe <strong>'+sub+type+'</strong></button>';
                              divcardimage.append(s);
                              divcard.append(divcardimage);
                              divcol.append(divcard);
            
                              var divbody=document.createElement("div");
                              divbody.setAttribute("class","channels-card-body");
                              var divtitle=document.createElement("div");
                              divtitle.setAttribute("class","channels-title");
                              divtitle.innerHTML="<a href='#'>"+Object.values(channel)[j]["channel-name"]+"<span title='' data-placement='top' data-toggle='tooltip' data-original-title='Verified'><i class='fas fa-check-circle'></i></span></a>";
            
                              divbody.append(divtitle);
            
                              var divsc=document.createElement("div");
                              divsc.setAttribute("class","channels-view");
                              divsc.innerHTML=Object.values(channel)[j]["sub"]+' subscribers';
                              divbody.append(divsc);
                              divcard.append(divbody);
                              
                           
                              div1.append(divcol);
                                    }

                                 }else{
                                    objs.push(Object.values(channel)[j]);
                              var divcol=document.createElement("div");
                              divcol.setAttribute("class","col-xl-3 col-sm-6 mb-3");
                              var divcard=document.createElement("div");
                              divcard.setAttribute("class","channels-card");
                              var divcardimage=document.createElement("div");
                              divcardimage.setAttribute("class","channels-card-image");
                              var a=document.createElement("a");
                             
                              if(fonc=="s"){
                                 a.setAttribute("href","https://localhost:8001/video-page-send?id="+Object.values(channel)[j]["userid"]+"&name="+Object.values(channel)[j]["channel-name"]);

                              }else{
                                 a.setAttribute("href","https://localhost:8001/video-page-recieve?id="+Object.values(channel)[j]["userid"]+"&name="+Object.values(channel)[j]["channel-name"]);
                              }
                          
                              var img=document.createElement("img");
                              img.setAttribute("class","img-fluid");
                              img.setAttribute("src",Object.values(channel)[j]["imageurl"]);
                              a.append(img);
                              divcardimage.append(a);
                              var s=document.createElement("div");
                              s.setAttribute("class","channels-card-image-btn");
                              var type=""
                              var sub=Object.values(channel)[j]["sub"]
                              if(sub>=1000000){sub=sub /1000000;type=" M"}else{
                                 if(sub>=1000){sub=sub /1000;type=" K"}
                              }
                              s.innerHTML='<button type="button" class="btn btn-outline-danger btn-sm">Subscribe <strong>'+sub+type+'</strong></button>';
                              divcardimage.append(s);
                              divcard.append(divcardimage);
                              divcol.append(divcard);
            
                              var divbody=document.createElement("div");
                              divbody.setAttribute("class","channels-card-body");
                              var divtitle=document.createElement("div");
                              divtitle.setAttribute("class","channels-title");
                              divtitle.innerHTML="<a href='#'>"+Object.values(channel)[j]["channel-name"]+"<span title='' data-placement='top' data-toggle='tooltip' data-original-title='Verified'><i class='fas fa-check-circle'></i></span></a>";
            
                              divbody.append(divtitle);
            
                              var divsc=document.createElement("div");
                              divsc.setAttribute("class","channels-view");
                              divsc.innerHTML=Object.values(channel)[j]["sub"]+' subscribers';
                              divbody.append(divsc);
                              divcard.append(divbody);
                              
                           
                              div1.append(divcol);
                                 }
                              }
            
                              
            
                           }
                         }
                  })
               }
                  getChannel();
                  console.log(objs);
                  var a=document.getElementById("toprated");
                  a.addEventListener("click",()=>{
                  toprated("sub",objs);
                  })
                  a=document.getElementById("topviewed");
                   a.addEventListener("click",()=>{
                   toprated("totalviews",objs);
                   })
                  
                  
                  
                  
                   </script>
                     
                     
              

    <%- include("footer.ejs") %>
           